.home-hero {
  @apply relative;
  height: 512px;
  background-color: theme("colors.soft-black");
  @apply overflow-hidden;

  &_menu {
    @apply absolute;
    top: 20px;
    left: 0px;
    width: 384px;
    @apply bg-white;
    transform: rotate(10deg);

    &_img {
      width: 100%;
      padding: 32px 32px 0 32px;
    }

    &_ul {
      @apply flex items-center justify-center;
      height: 64px;
      @apply text-black;
    }
  }

  &_img2 {
    @apply absolute;
    top: -16px;
    left: 400px;
    width: 284px;
    transform: rotate(-4deg);
  }

  &_img3 {
    @apply absolute;
    top: -1px;
    left: 713px;
    width: 320px;
    transform: rotate(15deg);
  }

  &_img4 {
    @apply absolute;
    top: -13px;
    left: 1000px;
    width: 256px;
    transform: rotate(-10deg);
  }

  &_text {
    @apply absolute;
    bottom: 0;
    right: 0;
    width: 880px;
    font-size: 160px;
    @apply font-header leading-none text-white text-center;
  }
}

.polaroid {
  padding: 32px 32px 64px 32px;
  @apply bg-white;
}


.menu-item:not(:last-child) {
  &::after {
    @apply inline-block whitespace-pre;
    content: " · ";
  }
}

.footer-bg {
  background-color: theme("colors.soft-black");
}
