---
title: Adventure Bitch
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="text-5xl leading-tight mb-4">Posts</h1>
<ul>
  <!-- prettier-ignore -->
  {% for post in collections.post %}
  <li>
    <a class="block no-underline" href="{{ post.url }}"
      ><p>
        <span class="underline">{{ post.data.title }}</span>
      </p>
      <p>
        <span class="text-sm"
          >Posted on {{ post.date.toISOString() | readableDate }}
        </span>
      </p></a
    >
  </li>
  <!-- prettier-ignore -->
  {% endfor %}
</ul>
<ul class="flex">
  <!-- prettier-ignore -->
  {% if pagination.href.next %}
  <li>
    <a href="{{ pagination.href.next }}">
      Older
    </a>
  </li>
  <!-- prettier-ignore -->
  {% endif %}
  <!-- prettier-ignore -->
  {% if pagination.href.previous %}
  <li>
    <a href="{{ pagination.href.previous }}">
      Newer
    </a>
  </li>
  <!-- prettier-ignore -->
  {% endif %}
</ul>
<!-- prettier-ignore -->
{% endblock %}
