<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="text-5xl leading-tight mb-4">Posts</h1>
<ul>
  <!-- prettier-ignore -->
  {% for post in collections.post %}
  <li>
    <a class="block no-underline" href="{{ post.url }}"
      ><p>
        <span class="underline">{{ post.data.title }}</span>
      </p>
      <p>
        <span class="text-sm"
          >Posted on {{ page.date.toISOString() | readableDate }}
        </span>
      </p></a
    >
  </li>
  <!-- prettier-ignore -->
  {% endfor %}
</ul>
<!-- prettier-ignore -->
{% endblock %}
