---
layout: layouts/_base.njk
title: Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div>
  <p>
    <span>Page Not Found</span>
  </p>
  <p>
    <a href="/">Back to Home</a>
  </p>
</div>
