---
layout: layouts/_base.njk
title: Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block content %}
<div class="flex items-center justify-center">
  <h1 class="text-5xl">Page Not Found</h1>
</div>
<!-- prettier-ignore -->
{% endblock %}
