---
title: Adventure Bitch
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block headScripts %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<h1 class="text-2xl lg:text-5xl leading-tight mb-4">Recent posts</h1>
<ul>
  <!-- prettier-ignore -->
  {% for post in posts %}
  <li class="mb-4">
    <a class="block no-underline" href="{{ post.url }}"
      ><p>
        <span class="underline">{{ post.data.title }}</span>
      </p>
      <p>
        <span class="text-sm"
          >Posted on {{ post.date.toISOString() | readableDate }}
        </span>
      </p></a
    >
  </li>
  <!-- prettier-ignore -->
  {% endfor %}
</ul>
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block bodyScripts %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- prettier-ignore -->
{% endblock %}
